---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import Main from "../components/vue/Main.vue";
import Hero from "../components/Hero.astro";

import dictionaryJSON from "../assets/dictionary-batak-toba.json";
---

<Layout title="Bataknese Application">
  <Hero dictionaryLength={dictionaryJSON.length} />

  <section class="flex flex-col justify-between h-full">
    <Main client:only />
    <Footer />
  </section>
</Layout>
